[submodule "dotfiles/vim/bundle/vim-node"]
	path = dotfiles/vim/bundle/vim-node
	url = https://github.com/moll/vim-node.git
[submodule "dotfiles/vim/bundle/pep8"]
	path = dotfiles/vim/bundle/pep8
	url = https://github.com/vim-scripts/pep8.git
[submodule "dotfiles/vim/bundle/riv.vim"]
	path = dotfiles/vim/bundle/riv.vim
	url = https://github.com/Rykka/riv.vim.git
[submodule "dotfiles/vim/bundle/tabular"]
	path = dotfiles/vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "dotfiles/vim/bundle/tcomment_vim"]
	path = dotfiles/vim/bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "dotfiles/vim/bundle/vim-easymotion"]
	path = dotfiles/vim/bundle/vim-easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "dotfiles/vim/bundle/vim-flake8"]
	path = dotfiles/vim/bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "dotfiles/vim/bundle/vim-surround"]
	path = dotfiles/vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "dotfiles/vim/bundle/syntastic"]
	path = dotfiles/vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "dotfiles/vim/bundle/jedi-vim"]
	path = dotfiles/vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "dotfiles/vim/bundle/colorschemes"]
	path = dotfiles/vim/bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "utils/duti"]
	path = utils/duti
	url = https://github.com/moretension/duti.git
[submodule "utils/hr"]
	path = utils/hr
	url = https://github.com/sahands/dotfiles.git
